*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: auto;
}
.top{
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.9);
}
.top .fix-top{
	width: 1100px;
	height: auto;
	margin: auto;
	color: white;
	line-height: 45px;
}
.top .fix-top > ul{
	margin-left: 15px;
}
.top .fix-top ul li{
	display: inline-block;
	padding: 0px 15px 0px 0px;
}
.top .fix-top ul li a{
	color: white;
	text-decoration: none;
	display: block;
	font-size: 20px;
}
.top .fix-top .login{
	float: right;
}
.top .fix-top .login ul li{
	padding: 0px;
	margin-left: -3.5px;
}
.top .fix-top .login li a{
	font-size: 17px;
	margin: 0px 15px 0px 15px;
}
.top .fix-top .login ul li{
	border-right: 1px solid white;
}

.top .fix-top a:hover{
	color: rgba(25, 255, 255, 0.8);
}

nav{
	width: 100%;
	height: auto;
}
nav .fix-nav{
	width: 1100px;
	height: auto;
	margin: auto;
	padding: 15px;
	text-align: center;
}
nav .fix-nav .logo{
	width: 210px;
	height: 25px;
	position: relative;
	left: -10px;
	top: -15px;
}
nav .fix-nav .logo h2{
	font-size: 32px;
	letter-spacing: 2.5px;
}
nav .fix-nav .logo p{
	font-size: 20px;
	letter-spacing: 4px;
}
nav .fix-nav ul{
	float: right;
	position: relative;
	top: -40px;
	left: 15px;
}
nav .fix-nav ul li{
	display: inline-block;
	padding: 0px 15px 0px 15px;
	text-align: center;
	margin-left: -4px;
	border-right: 1px solid rgba(0, 0, 0,0.2);
}
nav .fix-nav ul li:first-child{
	border-left: 1px solid rgba(0, 0, 0,0.2);
}
nav .fix-nav ul li a{
	text-decoration: none;
	font-size: 18px;
	display: block;
	color: black;
	line-height: 61px;
}
nav .fix-nav ul li:hover{
	background-color: whitesmoke;
}
nav .fix-nav ul li:hover a{
	color: red;
}
.baner{
	width: 100%;
	height: 365px;
	margin-top: -40px;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	background-color: red;
}
.fix-baner{
	width: 100%;
	height: auto;
	margin: auto;
	position: relative;
}
.baner img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	position: relative;
	top: -39px;
}
.baner .text-baner{
	text-align: center;
	width: 400px;
	height: 150px;
	line-height: 35px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -550px;
}
.baner .text-baner p:first-child{
	font-size: 20px;
	color: #f8185f;
	font-weight: bold;
}
.baner .text-baner p:nth-child(2){
	font-size: 16px;
	color: rgba(248, 24, 95, 0.8);
}
.baner .text-baner a{
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	top: 15px;
}
.baner .text-baner a:hover{
	background-color: rgba(248, 24, 95, 0.8);
}
.fix-clear{
	clear: both;
}



.fill{
	font-weight: bold;
	font-size: 22px;
	opacity: 0.7;
	width: 180px;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);
	margin-top: -5px;
	padding-bottom: 5px;
}
.content{
	border-bottom: 0.3px solid rgba(0, 0, 0, 0.8);
	font-size: 18px;
}
.content .cold{
	font-weight: bold;
	width: 210px;
	display: block;
	float: left;
}
.content span:nth-child(2){
	width: 405px;
	display:inline-flex;
	margin-left: 15px;
}
.title{
	font-size: 30px;
	color: #337ab7;
	padding-bottom: 12px;
}


.article{
	width: 100%;
	height: auto;
}
.fix-article{
	width: 1157px;
	height: 100%;
	margin: auto;
	padding: 40px 5px;
	border-bottom: 1px solid gray;
}
.fix-article:last-child{
	border: none;
	padding-bottom: 35px;
}
.fix-article .box-article{
	margin-left: 45px;
	float: left;
	overflow:hidden;
	position: relative;
}
.slide{
	width: 300%;
	height: 100%;
	overflow:hidden;
}

.fix-article .box-article:nth-child(1){
	width: 30%;
	height: auto;
}
.fix-article .box-article:nth-child(2){
	width: 61%;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 30px;
}
.fix-article .box-article img{
	width:33%;
	height: auto;
	transition: 1s ease-in-out;
	border-radius: 20px;
	border: 15px solid rgba(0, 0, 0, 0.1);
}
.fix-article .box-article p{
	margin-top: 0px;
	font-size: 30px;
	line-height: 50px;
}
.fix-article .box-article a{
	text-decoration: none;
	color: #337ab7;
}
.fix-article .box-article a:hover{
	text-decoration: underline;
}

.panel{
	width: 100%;
	height: auto;
	margin: auto;
	transition: background-color 1s ease-in-out;
}
.ht{
	margin-left: 35px;
	float: left;
	margin-top: 20px;
}
.color-violet {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.color-indigo {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.color-blue {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.color-yellow {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.color-orange {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
